h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  margin: 0 0 1rem;
  line-height: $header-line-height;
}

p {
  font-family: $font-family-paragraph;
  margin: 0 0 1rem;
  line-height: $paragraph-line-height;
}
