@import "../css/variables";

.c-button {
  background: $color-brand-primary;
  border: $border;
  border-color: $color-brand-primary;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  color: $color-white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  letter-spacing: $button-letter-spacing;
  line-height: $spacing-vertical-lg;
  text-decoration: none;
  text-transform: uppercase;
  padding: $button-height $button-width;
  position: relative;
  margin: 0 auto $spacing-vertical;
  max-width: 250px;

  &:active {
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.25);
    outline-style: none;
  }
}
