@import '../css/variables';

.c-footer {
  background: black;
  color: $color-white;
  padding: $spacing-vertical-sm $spacing-horizontal-sm;
  text-align: center;

  h3 {
    color: $color-brand-primary;
    margin-bottom: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  p {
    margin: 0;
  }

  @media screen and (min-width: map-get($bp, sm)) {
    text-align: left;
    padding: $spacing-vertical $spacing-horizontal;

    &__contact {
      text-align: right;
    }
  }

  @media screen and (min-width: map-get($bp, md)) {
    padding: $spacing-vertical-lg $spacing-horizontal-lg;
  }

}
