@import '../css/variables';

.l-blurbs-list {
  display: flex;
  flex-flow: row wrap;
  padding: $spacing-vertical $spacing-horizontal;
}

.c-blurb {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%;
  padding: $spacing-vertical-sm $spacing-horizontal-sm;
  margin-bottom: $spacing-vertical-sm;
  position: relative;
  text-align: center;

  @media screen and (min-width: map-get($bp, md)) {
    padding: $spacing-vertical $spacing-horizontal;
    margin-bottom: $spacing-vertical;
  }

  @media screen and (min-width: map-get($bp, md)) {
    padding: $spacing-vertical-lg $spacing-horizontal-lg;
    margin-bottom: $spacing-vertical-lg;
  }

  &__description {
    flex: 1;
  }

  &__title {
    color: $color-brand-primary;
    text-transform: uppercase;
    letter-spacing: -1px;
  }

}
